
      <%= simple_form_for @photo_shooting, url: client_photo_shooting_path do |p| %>

      <%= p.error_notification %>

      <div class="form-inputs">
        <%= p.input :description, placeholder: "Describe the photo shooting, to your mannequin" %>
        <%= p.input :date, as: :date, start_year: Date.today.year + 65,
        end_year: Date.today.year, discard_day: false,
        order: [:month, :day, :year] %>

        <%= p.input :mannequin_id, as: :hidden %>
        <%= p.input :budget  %>

      </div>

      <div class="form-actions">
        <%= p.button :submit, "Save", class: "btn btn-treehouse", style: "margin-top: 20px;" %>
      </div>

      <% end %>

<!--
class PhotoShooting < ActiveRecord::Base
  belongs_to :client
  belongs_to :mannequin
end

class User < ActiveRecord::Base
  has_many :mannequins
  has_many: :clients
end

class Client < ActiveRecord::Base
  belongs_to :user
end

class Mannequin < ActiveRecord::Base
  belongs_to :user
end
-->