<%= simple_form_for @mannequin do |m| %>

    <%= m.error_notification %>

    <div class="form-inputs">
      <%= m.input :first_name, placeholder:"#{current_user.first_name}" %>
      <%= m.input :last_name, placeholder:"#{current_user.last_name}" %>
      <%= m.input :phone %>
      <%= m.input :age, collection: 18..60, prompt: "Select your age" %>
      <%= m.input :category, collection: ["Male", "Female"] %>
      <%= m.input :description, as: :text %>
      <%= m.input :height %>
      <%= m.input :waist %>
      <%= m.input :chest %>
      <%= m.input :hips %>
      <%= m.input :hair_color %>
      <%= m.input :eyes %>
      <%= m.input :ethnicity %>
      <%= m.input :location %>
      <%= m.input :photos, as: :attachinary %>
      <%= m.label 'Email: ', current_user.email %>
    </div>

  <div class="form-actions">
    <%= m.button :submit, "Save" %>
  </div>

<% end %>


