<!-- add url for the update, so that the update targets the correct place -->

  <%= simple_form_for current_user.mannequin, url: '/mannequin' do |m| %>

    <%= m.error_notification %>

    <div class="form-inputs">
      <%= m.input :first_name, placeholder: "Enter your name: " %>
      <%= m.input :last_name, placeholder:"last name: " %>
      <%= m.input :phone %>
      <%= m.input :age, collection: 18..60, prompt: "Select your age" %>
      <%= m.input :category, collection: ["Male", "Female"] %>
      <%= m.input :description, as: :text %>
      <%= m.input :height, hint: 'You cannot change your username.' %>
      <%= m.input :waist %>
      <%= m.input :chest %>
      <%= m.input :hips %>
      <%= m.input :hair_color %>
      <%= m.input :eyes %>
      <%= m.input :ethnicity %>
      <%= m.input :location %>
      <%= m.label 'Email: ', current_user.email %>
    </div>

  <div class="form-actions">
    <%= m.button :submit, "Save", class: "btn-yellow"%>
  </div>
<% end %>






