<!-- add url for the update, so that the update targets the correct place -->

  <%= simple_form_for current_user.mannequin, url: '/mannequin' do |m| %>

    <%= m.error_notification %>

    <div class="form-inputs">
      <%= m.input :first_name, placeholder: "Enter your first name: " %>
      <%= m.input :last_name, placeholder:"Enter your last name: " %>
      <%= m.input :phone %>

      <%= m.input :age, placeholde: 'dob' %>
      <%= m.input :gender, collection: ["women", "men"], prompt: "Select your gender" %>
      <%= m.input :category, collection: ["beaute", "haute-couture", "atypique", "new-face", "hipster"], prompt: "Select your category" %>
      <%= m.input :description, as: :text %>
      <%= m.input :height, placeholder: "Please enter in cm " %>
      <%= m.input :waist, placeholder: "Please enter in cm " %>
      <%= m.input :chest,placeholder: "Please enter in cm " %>
      <%= m.input :hips, placeholder: "Please enter in cm " %>
      <%= m.input :hair_color, collection: Mannequin.hair_color, prompt: "Select your hair color" %>
      <%= m.input :eyes %>
      <%= m.input :ethnicity, collection: ["Caucasian", "Asian", "African", "Hispanic", "Metisse"], prompt: "Select your Ethnicity" %>
      <%= m.input :location, placeholder: "City "%>
      <%= m.label 'Email: ', current_user.email, class: "form-mannequin-email" %>
    </div>

  <div class="form-actions">
    <%= m.button :submit, "Save", class: "btn btn-treehouse", style: "margin-top: 20px;" %>
  </div>

<% end %>






