<p id="notice"><%= notice %></p>

<h1>Listing Mannequins -> index</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <h2>Welcome! <%= User.find_by_email(current_user[:email]).mannequin.first_name %> <%= User.find_by_email(current_user[:email]).mannequin.last_name %></h2>
    </tr>
  </thead>

  <tbody>
    <% @mannequins.each do |mannequin| %>
      <tr>
        <td><p><strong><%= mannequin.first_name %></strong></p></td>
        <td><%= link_to 'Show', mannequin %> ||</td>
        <td><%= link_to 'Edit', edit_mannequin_path(mannequin) %> ||</td>
        <td><%= link_to 'Destroy', mannequin, method: :delete, data: { confirm: 'Are you sure?' } %> ||</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mannequin', new_mannequin_path %>
