<p id="notice"><%= notice %></p>


  <p><%= @mannequin.age %></p>
  <p><%= @mannequin.category %></p>
  <p><%= @mannequin.description %></p>
  <p><%= @mannequin.height %></p>
  <p><%= @mannequin.waist %></p>
  <p><%= @mannequin.chest %></p>
  <p><%= @mannequin.hips %></p>
  <p><%= @mannequin.hair_color %></p>
  <p><%= @mannequin.eyes %></p>
  <p><%= @mannequin.ethnicity %></p>

<%= link_to 'Edit', edit_mannequin_path(@mannequin) %> |
<%= link_to 'Back', mannequins_path %>

<!-- :age, :category, :description, :height, :waist, :chest, :hair_color, :eyes, :ethnicity -->
