<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachinary_files.each do |attachinary_file| %>
      <tr>
        <td><p><strong><%= attachinary_file.description %></strong></p></td>
        <td><%= link_to 'Show', attachinary_file %> ||</td>
        <td><%= link_to 'Edit', edit_attachinary_file_path(attachinary_file) %> ||</td>
        <td><%= link_to 'Destroy', attachinary_file, method: :delete%> ||</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New pictures', new_attachinary_file_path %>
