<div class="footer-container" id="mobile-footer">
  <div class="container" id="footer">
    <div class="text-center">
    <div class="row">
        <div class="col-xs-12">
        <p> <%= link_to 'Catalog', '#'  %> / <%= link_to 'Join Dyna', '#' %> / <%= link_to 'Contact', '#' %> / <%= link_to 'FAQ', '#' %></p>
        </div>
        <div class="col-xs-12">
          <p> <a href="#">Legal stuff</a> / <a href="#">Presse</a> / <a href="#"> Blog </a> / <a href="#">Jobs</a> </p>
        </div>
        <div class="col-xs-12" >
          <h4>Write Us</h4>
          <%= link_to 'contact@dynamodel.co', 'mailto:contact@dynamodel.co' %>
          <p>59 rue des Archives, 75003, Paris</p>
        </div>
        <div class="col-xs-12">
           <span class="li-social"><a href="https://www.instagram.com/dyna_model/" target="_blank"> <%= image_tag "socials/instagram.png"  %> </a> </span>
            <span class="li-social"><a href="https://www.twitter.com/dynamodel/" target="_blank"> <%= image_tag "socials/twitter.png"  %> </a></span>
            <span class="li-social"><a href="https://www.facebook.com/dynamodel/" target="_blank"> <%= image_tag "socials/facebook.png"  %> </a></span>
        </div>
        <div class="col-xs-12">
          <%= link_to "https://itunes.apple.com/fr/app/dynamodel/id1061702407?mt=8" do %>
            <h4>Are you a model? <br> Download the app here</h4>
            <%= image_tag 'appstore.png' %>
          <% end %>
        </div>
        <div class="col-xs-12">
          <h4>Dyna Newsletter</h4>
          <p>TODO</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-container" id="deskopt-footer">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <!-- social icons -->
          <ul class="socials list-unstyled">
            <li class="li-social"><a href="https://www.instagram.com/dyna_model/" target="_blank"> <%= image_tag "socials/instagram.png"  %> </a> </li>
            <li class="li-social"><a href="https://www.twitter.com/dynamodel/" target="_blank"> <%= image_tag "socials/twitter.png"  %> </a></li>
            <li class="li-social"><a href="https://www.facebook.com/dynamodel/" target="_blank"> <%= image_tag "socials/facebook.png"  %> </a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>PLAN DU SITE</h4>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><p>Catalogue</p></li>
              <li><p>Contact</p></li>
              <li><p>Candidature</p></li>
              <li><p><a href="blog.dynamodel.co">Blog</a> </p></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><p> Presse</p></li>
              <li><p> Faq</p></li>
              <li><p> Jobs</p></li>
              <li><p> Mentions Légale</p></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <h4>Are you a model? Download the app here</h4>
          </div>
          <div>
            <%= link_to "https://itunes.apple.com/fr/app/dynamodel/id1061702407?mt=8" do %>
            <%= image_tag 'appstore.png' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          <div> <h4>Write us</h4></div>
          <div><p> <%= link_to 'contact@dynamodel.co', "mailto:contact@dynamodel.co" %> </p> </div>
          <div> <p>59 rues des archives, 75003, Paris</p></div>

          <div>
           <h4>Dyna Newsletter</h4>
            <p> TO DO</p>
          </div>
       </div>
     </div>
   </div>
 </div>
</div>