<div class="client-show-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="gray-box">
          <h1><%= @client.company_name%></h1>
          <br>
          <h4> <%= link_to "#{@client.website}", "http://#{@client.website}" %></h4>
          <h4>Name: <%= @client.first_name %></h4>
          <h4>Last name: <%= @client.last_name %></h4>
          <br>
          <%= link_to "Home", root_path, :class => "btn-gray btn-base" %>
          <%= link_to "Edit", edit_client_path, :class => "btn-gray btn-base" %>
        </div>
      </div>
    </div>
  </div>
</div>



