<p id="notice"><%= notice %></p>

<div class="index-wrapper">
  <h1> <%= gender[0].gender.capitalize %> </h1>
  <br>
  <p>Results: (<%= gender.count %>)</p>
  <div class="container">
    <div class="row">
      <% gender.each do |m| %>
        <div class="col-sm-6 col-md-3">
          <div class="mannequin-card">
          <!-- link_to not working properly -->
          <p><%= link_to mannequin_path(m) do %>
            <%= cl_image_tag m.photos[0].path, width: 200, height: 200,gravity: :face, crop: :fill %>
            <div> <%= "#{m.first_name + " " + m.last_name[0] + "."}" %> </div>
            <% end %>
          </div>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>